
    <div class="row acercaDe">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoPerfil.png" class="img-fluid" id="fotoPerfil">
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Leandro Nicolás Oddi</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti dolor ipsum eius facere fugit accusamus doloribus recusandae, vero, quaerat eaque soluta aut alias exercitationem at libero odio illum quasi! </p>
        </div>
    </div>
