<div class="row">
    <h1>Educación</h1>
    <div class="educacion offset-1 col-11">
        <ul>
            <li>
                <h2>Educación 1</h2> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa ad voluptatum quasi fugiat exercitationem explicabo. Necessitatibus sint corrupti et officia voluptatum totam, tenetur autem, ratione dignissimos fugiat mollitia fuga.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Educación 2</h2> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa ad voluptatum quasi fugiat exercitationem explicabo. Necessitatibus sint corrupti et officia voluptatum totam, tenetur autem, ratione dignissimos fugiat mollitia fuga.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Educación 3</h2> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa ad voluptatum quasi fugiat exercitationem explicabo. Necessitatibus sint corrupti et officia voluptatum totam, tenetur autem, ratione dignissimos fugiat mollitia fuga.</p>
            </li>
        </ul>

    </div>

</div>