<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#64a5ff'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300">
            [responsive]="true"
            </circle-progress>
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#64a5ff'"
            [innerStrokeColor]="'#000000'"            [animation]="true"
            [animationDuration]="300">
            [responsive]="true"
        </circle-progress>
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="60"
            [radius]="100"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#64a5ff'"
            [innerStrokeColor]="'#000000'"            [animation]="true"
            [animationDuration]="300">
            [responsive]="true"
        </circle-progress>
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#64a5ff'"
            [innerStrokeColor]="'#000000'"            [animation]="true"
            [animationDuration]="300">
            [responsive]="true"
        </circle-progress>
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/idioma.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#64a5ff'"
            [innerStrokeColor]="'#000000'"            [animation]="true"
            [animationDuration]="300">
            [responsive]="true"
        </circle-progress>
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="60"
            [radius]="100"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#64a5ff'"
            [innerStrokeColor]="'#000000'"            [animation]="true"
            [animationDuration]="300">
            [responsive]="true"
        </circle-progress>
        </div>

</div>